* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}




.img-container {
 
    background-repeat: no-repeat;
    
    height: 100vh;
    max-height: 100vh; /* esto asegura que el contenedor no exceda la altura maxima de la pantalla*/
    overflow: hidden;   /* esto evita que la imagen desborder si es mas alta*/

    display: flex;
    justify-content: center;
    align-items: center;

    border: 2px solid red;
}

.img-container .img-portada {
    margin: 0 auto;
    
    height: 100%;
    max-width: 100%;
}